@font-face {
  font-family: sansation;
  src: url("../../resources/fonts/sansation/Sansation_Light.ttf");
}
.transitions {
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.imagenTextoVertical {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
.imagenTextoVertical .carousel-control-prev {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.imagenTextoVertical .carousel-control-next {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.imagenTextoVertical .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}
.imagenTextoVertical .carousel-caption h3 {
  color: violet;
}
.imagenTextoVertical .carousel-caption p {
  color: lightblue;
}
.imagenTextoVertical img {
  width: 100%;
}
.imagenTextoVertical .texto {
  text-align: center;
  width: 90%;
}
.imagenTextoVertical .texto .ccjNombre {
  font-size: 2em;
  color: violet;
}
.imagenTextoHorizontal {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 300px;
}
.imagenTextoHorizontal.normal {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  flex-direction: row;
}
.imagenTextoHorizontal.normal p {
  text-align: left;
}
.imagenTextoHorizontal.reverso {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  flex-direction: row-reverse;
}
.imagenTextoHorizontal.reverso p {
  text-align: right;
}
.imagenTextoHorizontal img {
  height: 300px;
  width: 300px;
}
.imagenTextoHorizontal p {
  margin: 25px;
}
.imagenTextoHorizontal p .ccjNombre {
  font-size: 2em;
  color: violet;
}
.separador-secciones {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
.separador-secciones .linea {
  border-bottom: 1px solid violet;
  width: 40%;
}
.separador-secciones .linea:first-child {
  margin-right: 25px;
}
.separador-secciones .linea:last-child {
  margin-left: 25px;
}
.separador-secciones i {
  color: lightblue;
  font-size: 2em;
}
.separador {
  height: 1px;
  width: 90%;
  margin: 20px 0;
  border-top: 1px solid lightblue;
}
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(to bottom, #3c3c3c, #282828);
  background: -moz-linear-gradient(to bottom, #3c3c3c, #282828);
  background: -ms-linear-gradient(to bottom, #3c3c3c, #282828);
  background: -o-linear-gradient(to bottom, #3c3c3c, #282828);
  background: linear-gradient(to bottom, #3c3c3c, #282828);
}
body {
  background-color: initial;
}
#CafeConJava {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  color: lightgray;
  font-family: sansation, serif;
}
#CafeConJava header {
  width: 15%;
  align-items: flex-end;
}
#CafeConJava header nav ul {
  list-style-type: none;
  text-align: right;
  margin: 25px 25px 0;
}
#CafeConJava header nav ul li {
  margin-bottom: 80px;
  border-bottom: 1px solid lightgray;
}
#CafeConJava header nav ul li.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#CafeConJava header nav ul li.activo {
  border-bottom: 1px solid violet;
}
#CafeConJava header nav ul li.activo a {
  color: lightblue;
}
#CafeConJava header nav ul li:hover {
  border-bottom: 1px solid violet;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#CafeConJava header nav ul a {
  text-decoration: none;
  color: lightgray;
  text-transform: uppercase;
}
#CafeConJava header nav ul a:hover {
  color: lightblue;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#CafeConJava main {
  width: 85%;
  height: 100vh;
  overflow: hidden;
}
#CafeConJava main article {
  height: 100vh;
  overflow: auto;
  margin-right: -17px;
}
#Principal {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
