@font-face {
  font-family: sansation;
  src: url("../resources/fonts/sansation/Sansation_Light.ttf");
}
.transitions {
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(to bottom, #3c3c3c, #282828);
  background: -moz-linear-gradient(to bottom, #3c3c3c, #282828);
  background: -ms-linear-gradient(to bottom, #3c3c3c, #282828);
  background: -o-linear-gradient(to bottom, #3c3c3c, #282828);
  background: linear-gradient(to bottom, #3c3c3c, #282828);
}
#CafeConJava {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  color: lightgray;
  font-family: sansation, serif;
  font-size: 3em;
}
#CafeConJava header {
  width: 25%;
  align-items: flex-end;
}
#CafeConJava header nav ul {
  list-style-type: none;
  text-align: right;
  margin: 25px 25px 0;
}
#CafeConJava header nav ul li {
  margin-bottom: 80px;
  border-bottom: 1px solid lightgray;
}
#CafeConJava header nav ul li.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#CafeConJava header nav ul li:hover {
  border-bottom: 1px solid violet;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#CafeConJava header nav ul a {
  text-decoration: none;
  color: lightgray;
  text-transform: uppercase;
}
#CafeConJava header nav ul a:hover {
  color: lightblue;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#CafeConJava main {
  width: 75%;
}
